/dist
/docs/node_modules
/e2e/a5es5/node_modules
/e2e/a5es2015/node_modules
/e2e/a6/node_modules
/e2e/a7/node_modules
/e2e/a8/node_modules
/e2e/a9/node_modules
/e2e/a10/node_modules
/e2e/a11/node_modules
/e2e/a12/node_modules
/e2e/a13/node_modules
/e2e/a14/node_modules
/e2e/a15/node_modules
/e2e/a16/node_modules
/e2e/jasmine/node_modules
/e2e/jest/node_modules
/e2e/min/node_modules
/e2e/mx/node_modules
/node_modules
/test-reports
/tmp
