.dockerignore
.eslintignore
.gitignore
.prettierignore
CHANGELOG.md
CODEOWNERS
renovate.json

dist/
docs/.docusaurus
docs/articles/**/*.md
docs/src/css
e2e/*/.angular
e2e/*/src/app
e2e/*/src/test
node_modules/
test-reports/
tests-e2e/.angular
tests-failures/
tmp/

**/*.sh
**/*.snap
**/.nvmrc
**/.browserslistrc
