CHANGELOG.md
.dockerignore
.eslintignore
.gitignore
.prettierignore

dist/
docs/articles/**/*.md
docs/.docusaurus
e2e/*/.angular
e2e/*/src/app
e2e/*/src/test
node_modules/
test-reports/
tests-e2e/.angular
tests-failures/
tmp/

**/*.sh
**/*.snap
**/.nvmrc
**/.browserslistrc
