.browserslistrc
.dockerignore
.eslintignore
.gitignore
.prettierignore
CHANGELOG.md
CODEOWNERS
renovate.json

.husky/
dist/
docs/**/*.md
docs/.docusaurus
e2e/*/.angular
e2e/*/src/app
e2e/*/src/test
e2e/nx/apps/*/src/app
e2e/nx/apps/*/src/test
node_modules/
test-reports/
tests-e2e/.angular
tmp/

**/*.sh
**/*.snap
**/.nvmrc
