*.ico
*.sh

.browserslistrc
.dockerignore
.editorconfig
.env
.gitignore
.gitkeep
.idea/
.npmrc
.nvmrc
.prettierignore
CHANGELOG.md
CODEOWNERS
browserslist
node_modules

/dist/
/e2e/a5es5/src/test
/e2e/a5es2015/src/test
/e2e/a6/src/test
/e2e/a7/src/test
/e2e/a8/src/test
/e2e/a9/src/test
/e2e/a10/src/test
/e2e/a11/src/test
/test-reports/
/tmp/
